
.App-start {
  height: 200px;
  background-color: rgb(58, 93, 146);
  color: white;
  position: absolute;
  margin: auto;
  width: 100%;
  top: 40%;
}

.centered {
  background-color: rgb(71, 165, 209);
  color: white;
  width: 100%;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 200px;
}

.centered button {
  /* display: table-cell; 
  vertical-align: middle; */
  /* text-align: center; */
  color: rgb(9, 31, 102);
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
  height: 60px;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
